@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Roboto:wght@100&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/* header */
header{
    display:flex;
    justify-content: space-around;
    background: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    height: 80px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo p{
    color: whitesmoke;
    font-size:xx-large;
    font-weight: 800;
    font-family: 'Kanit', sans-serif;
}
.links ul{
    height: 80px;
    display:flex;
    align-items: center;
    gap: 20px;
}
.links ul li{
    list-style-type: none;
}
.links ul li a{
    text-decoration: none;
    color: whitesmoke;
}
.btn-header{
    display:flex;
    align-items: center;
}
.btn-header a{
    text-decoration: none;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    padding:5px 14px;
    border-radius: 7px;
}

/* home */

.home img{
    width: 100%;
    height: 580px;
    position: absolute;
    z-index: -1;
}
.home-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 550px;
    align-items: center;
    width: 100%;
}
.home h1{
    color:whitesmoke;
    font-family: 'Kanit', sans-serif;
    font-size: 60px;
    margin-bottom: 20px;
}
.home p{
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 12px;
    text-align: center;
}
.home a{
    text-decoration: none;
}
.home a:first-child{
    background-color: whitesmoke;
    margin-top: 10px;
    color: black;
    padding:5px 14px;
    border-radius: 7px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 12px;
    margin-right: 10px;
}
.home a:nth-child(2){
    background-color: black;
    color: whitesmoke;
    border-radius: 7px;
    border: 2px solid whitesmoke;
    padding:5px 14px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 12px;
}

/*how it works*/

.how-it-works .work-description{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.how-it-works .work-description p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center;
}
.how-it-works .work-description h2{
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    text-align: center;
    line-height: 45px;
}

.how-it-works .icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.how-it-works .icons div i{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 40px;
}
.how-it-works .icons div h3{
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    font-weight:100;
    margin-bottom: 30px;
}
.how-it-works .icons div p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.how-it-works .btn-work{
    display: flex;
    justify-content: center;
}
.how-it-works .btn-work button{
    margin-top: 50px;
    background-color: black;
    color: whitesmoke;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

/*benefits*/
.benefits{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding-top: 50px;
}
.benefits p{
    font-family: 'Roboto', sans-serif;
}
.benefits h2{
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    text-align: center;
    line-height: 45px;
    margin:  20px 0px;
}
.benefits button{
    margin-top: 8px;
    background-color: whitesmoke;
    color: black;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}
.benefits .benefits-1{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}
.benefits .benefits-1 div{
    border: 1px solid gray;
    border-radius: 9px;
    padding:18px;
    text-align: left;
    width: 350px;
    height: auto;
}
.benefits .benefits-1 div i{
    font-size: 30px;
    margin: 15px 0;
}
.benefits .benefits-1 div h3{
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    font-weight:100;
    margin-bottom: 20px;
}
.benefits .benefits-1 div p{
    color: grey;
    font-size: 15px;
}