@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.hero{
    background-color: #1F2937;
    display: flex;
    font-size: 18px;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
}
.hero .logo img{
    height: 100px;
    width: 100px;
    border-radius: 5px;
}
.hero .links ul{
    display: flex;
    gap: 25px;
}
.hero .links ul li{
    list-style-type: none;
}
.hero .links ul li a{
    text-decoration: none;
    color: #e5e7eb;
    font-weight: 900;
}
.hero .links ul li a:hover{
    font-size: 20px;
    transition: all .3s ease-in;
}
